body {
    height: 300vh;
}


.container {
    top: 20vh;
    /* position: relative; */
    width: 400px;
    height: 400px;
    background-color: aqua;
}
.box {
    top: 5vh;
    position: absolute;
    left: 400px;
    width: 200px;
    height: 200px;
    background-color: blueviolet ;

}

.opo {
    /* Rectangle 5 */


width: 1453px;
height: 9px;

background: #000000;
}

.logo {
    /* image 9 */



width: 157px;
height: 169px;
left: 655px;
top: 36px;

background: url(logo\ removido.png);

}


